import {memo} from "react";
import cx from "classnames";
import styles from "./{{name}}.module.css";
import { {{name}}Type } from "./{{name}}.types";

const {{name}}Component = ({}: {{name}}Type) => {
  return (
    <div className={cx(styles.wrapper)}>
      <h2>{{name}}</h2>
    </div>
  );
};

export const {{name}} = memo({{name}}Component);
